---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import Glow from '../components/Glow.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Squiggles">
	<main>
		<Glow />
		<Navbar/>
		<Projects />
	</main>
</Layout>


