---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import Glow from '../components/Glow.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Squiggles">
	<main>
		<Glow />
		<Navbar/>
		<Hero />
		<Skills />
	</main>
</Layout>

