<div class="green"></div>
<div class="purple"></div>
<div class="blue"></div>
<div class="cover"></div>
<style>
    .green{
        position: fixed;
        width: 15%;
        height: 84%;
        left: 20%;
        top: 5%;
        border-radius: 100%;
        background: #13333D;
        transform: rotate(-30.05deg);
    }
    .purple{
        position: fixed;
        width: 15%;
        height: 84%;
        left: 50%;
        top: -8%;
        background: #2A133D;
        border-radius: 100%;
        transform: rotate(-105.71deg);
    }
    .blue{
        position: fixed;
        width: 15%;
        height: 26%;
        left: 55%;
        top: 60%;
        border-radius: 100%;
        background: #23487E;
        transform: rotate(61.36deg);
    }
    .cover{
        position: fixed;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(150px);
        margin: 0;
    }
    @media screen and (max-width: 636px) {
        div {
            width: 0px;
		height: 0px;
        }
    }
</style>