<div class="hero">
    <h1>Hey, I'm Squiggles.</h1>
    <p>I'm a full-time college student, and an aspiring game dev</p>
</div>
<style>
    .hero{
        position: absolute;
        display: flex;
        left: 50%;
        top: 19%;
        flex-direction: column;
        transform: translateX(-50%);
        gap: -5px;
        color: white;
    }
    .p{
        position: relative;
        width: 760px;
        height: 88px;
        
    }
    @media screen and (max-width: 900px) {
        .hero {
            width: 90%;
        }
    }
    @media screen and (max-width: 636px) {
        h1 {
            font-size: 40px;
        }
        p {
            line-height: 1.3;
        }
    }
</style>
