<div class="hero">
    <h1>Hey, I'm Squiggles.</h1>
    <p>I'm 15, a full-time high school student, and an aspiring game dev. I’m from the UK, and working hard to get myself into the gamedev industry. Being a student, this isn’t easy, but I’m doing by best to try and contribute to as many open-source projects as I can, and teach myself to make games.</p>
</div>
<style>
    .hero{
        position: absolute;
        display: flex;
        left: 50%;
        top: 19%;
        flex-direction: column;
        transform: translateX(-50%);
        gap: -5px;
        color: white;
    }
    .p{
        position: relative;
        width: 760px;
        height: 88px;
        
    }
</style>
