<nav class="navbar">
    <div class="pfpAndHamburger">
        <img class="pfp" src="/pfp.png" alt="logo"/>
        <button class="hamburger" onclick=`
            const container = document.getElementsByClassName("buttons")[0];
            if (container.style.flexDirection === "column") {
                container.parentElement.style = null;
                container.style = null;
                for (const child of container.children) {
                    child.style.width = null;
                }
            } else {
                container.parentElement.style.flexDirection = "column";
                container.parentElement.style.gap = "20px";
                container.style.flexDirection = "column";
                container.style.height = "auto";
                container.style.width = "100%";
                console.log(container.children);
                container.style.display = "flex";
                for (const child of container.children) {
                    child.style.width = "auto";
                }
            }
        `><img src="/menu.svg" alt="menu"/></button>
    </div>
    <div class="buttons">
        <button onclick="location.href='/'"><span class="buttontext">Home</span></button>
        <button onclick="location.href='/blog/'"><span class="buttontext">Projects</span></button>
        <button onclick="location.href='https://linktr.ee/squigglesdev'"><span class="buttontext">Links</span></button>
    </div>
</nav>
<style>
    .navbar {
        position: fixed;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        padding: 6px;
        gap: 25vw;
        width: auto;
        height: auto;
        background: rgba(16, 21, 27, 0.7);
        border: 1.6px solid;
	    border-color: #161D27;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 100;
        transition: height 0.5s ease-out;
    }

    .pfp {
        width: 38px;
        height: 38px;
        border: 1.6px solid #161D27;
        border-radius: 8px;
    }

    .pfpAndHamburger {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .buttons {
        display: flex;
        gap: 10px;
        flex-direction: row;
        height: auto;
        transition: height 0.5s ease-out;
    }

    button {
        width: 69px;
        height: 38px;
        background: transparent;
        border: 1.6px solid #161D27;
        border-radius: 8px;
        box-sizing: border-box;
	    cursor: pointer;
    }
    .hamburger {
        width: 38px;
        display: none;
    }
    .buttontext{
	    font-family: 'Cera', 'Century Gothic', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: white;
    }
    button:hover{
        background: #161D27;
    }
    @media screen and (max-width: 636px) {
        .navbar {
            position: fixed;
            top: 24px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 6px;
            gap: auto;
            width: 90%;
        }
        .buttons {
            display: none;
            height: 0;
        }

        button {
            height: 57px;
        }

        .buttontext {
            font-size: 20px;
        }

        .hamburger {
            display: block;
            width: 57px;
            height: 57px;
        }

        .pfp {
            width: 57px;
            height: 57px;
        }
    }
</style>