---
import Project from '../components/Project.astro';
---
<div class="hero">
    <h1>Blog</h1>
    <p>This is the space where I showcase the work I've done in a (hopefully) digestable way!</p>
    <Project
        title="Website creation with Astro"
        actions={{'Read': 'about:blank'}}>
      <img src="/blog/astroDev.png" alt="astro" slot="header"/>
      My adventures creating this website with Astro. Definately a learning experience!
    </Project>
</div>
<style>
    .hero{
        position: absolute;
        display: flex;
        left: 50%;
        top: 19%;
        flex-direction: column;
        transform: translateX(-50%);
        gap: -5px;
        color: white;
    }
    .p{
        position: relative;
        width: 760px;
        height: 88px;
        
    }
    @media screen and (max-width: 900px) {
        .hero {
            width: 90%;
        }
    @media screen and (max-width: 636px) {
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 14px;
            line-height: 1.3;
        }
    }
</style>
