<div class="hero">
    <h2>Skills</h2>
    <p>I’m proficient in a wide range of languages, and over the past year my artistic ability has improved significantly - especially in pixel art, so I’m not in a bad place! Here are some of the languages and tools I can work with:</p>
</div>
<style>
    .hero{
        position: absolute;
        display: flex;
        left: 50%;
        top: 50%;
        flex-direction: column;
        transform: translateX(-50%);
        gap: -5px;
        color: white;
    }
    .p{
        position: relative;
        width: 760px;
        height: 88px;
    }
    @media screen and (max-width: 900px) {
        .hero {
            width: 90%;
        }
    @media screen and (max-width: 636px) {
        h2 {
            font-size: 30px;
        }
        p {
            line-height: 1.3;
        }
    }
</style>
