---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
        font-family: 'Cera Pro', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 17px;
		line-height: 22px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body{
		margin: 0;
		background-image: url("/bg.png");
	}
	h1{
		font-family: 'Fibra';
		font-style: normal;
		font-weight: 700;
		font-size: 50px;
		line-height: 50px;
	}
	h2{
		font-family: 'Fibra';
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
	}
</style>
